.container
  =form_tag(ShoppingCart::Engine.shopping_carts_path, method: :put) do
    .row
      .col-xs-12
        %table.table.table-hover
          %thead
            %tr
              %th.col-xs-9 Book
              %th.col-xs-1 Price
              %th.col-xs-1 Qty
              %th.col-xs-1 Total
          %tbody
            - current_cart.items.each do |item|
              %tr
                %td= item.book.title
                %td= number_to_currency item.price
                %td
                  =number_field_tag "[cart_items][#{item.book.id}][quantity]", item.quantity, min: 0, class: ['form-control', 'input-sm']
                %td= number_to_currency item.sum
            %tr.warning
              %td
                %strong SUBTOTAL
              %td
                %strong= current_cart.discount_string
              %td
                %strong
                  %s= price_without_discount_if_any(current_cart)
              %td
                %strong= number_to_currency current_cart.sum
    .row
      .col-xs-12
        .pull-left
          .div.form-inline
            = text_field_tag :coupon, nil, placeholder: 'Coupon', class: ['form-control']
            = submit_tag 'Apply', class: ['btn', 'btn-default']
  .row
    .col-xs-12
      %br
      = link_to 'Clear', ShoppingCart::Engine.clear_shopping_carts_path, method: :delete, class: ['btn', 'btn-primary']
      .pull-right
        = link_to 'Checkout', ShoppingCart::Engine.checkout_shopping_carts_path, method: :post, class: ['btn', 'btn-primary']
