.container
  %h2= t('orders.title')
  .row
    .col-md-12
      %h3= t('orders.in_progress')
      %table.table.table-hover
        %thead
          %tr
            %th ID
            %th= t('orders.created_at')
            %th= t('orders.sum')
            %th= t('orders.link')
        %tbody
          - @in_progress.each do |order|
            =render 'orders/order_row', order: order, in_progress: true
      -if @in_progress.empty?
        %i= t('orders.empty')

      %h3= t('orders.in_queue')
      %table.table.table-hover
        %thead
          %tr
            %th ID
            %th= t('orders.created_at')
            %th= t('orders.sum')
            %th= t('orders.link')
        %tbody
          - @in_queue.each do |order|
            =render 'orders/order_row', order: order, in_progress: false
      -if @in_queue.empty?
        %i= t('orders.empty')

      %h3= t('orders.in_delivery')
      %table.table.table-hover
        %thead
          %tr
            %th ID
            %th= t('orders.created_at')
            %th= t('orders.sum')
            %th= t('orders.link')
        %tbody
          - @in_delivery.each do |order|
            =render 'orders/order_row', order: order, in_progress: false
      -if @in_delivery.empty?
        %i= t('orders.empty')

      %h3= t('orders.delivered')
      %table.table.table-hover
        %thead
          %tr
            %th ID
            %th= t('orders.created_at')
            %th= t('orders.sum')
            %th= t('orders.link')
        %tbody
          -@delivered.each do |order|
            =render 'orders/order_row', order: order, in_progress: false
      -if @delivered.empty?
        %i= t('orders.empty')
