.container
  %h2
    Checkout
  %h3.col-md-offset-1.col-md-2
    .step{class: 'current'} Address
  %h3.col-md-2
    .step Shipment
  %h3.col-md-2
    .step Payment
  %h3.col-md-2
    .step Confirm
  %h3.col-md-2
    .step Complete
  .row
    = form_for @order, url: {controller: :checkouts, action: :update} do |order|
      .col-sm-6#billing
        %h3 Billing Address
        .col-sm-6.col-sm-push-6
          = html_for_errors address_error_messages_of(flash[:errors], :billing_address)
        .col-sm-6.col-sm-pull-6
          = order.fields_for :billing_address do |f|
            = render 'address/edit', f: f
      .col-sm-6#shipment
        %h3 Shipment Address
        .col-sm-6.col-sm-push-6
          = html_for_errors address_error_messages_of(flash[:errors], :shipment_address)
        .col-sm-6.col-sm-pull-6
          = order.fields_for :shipment_address do |f|
            = render 'address/edit', f: f
      =order.hidden_field :step, value: @current_step
      .actions
        = order.submit 'Save and Continue', class: ['btn', 'btn-default']
