.container
  %h2
    Checkout
  %h3.col-md-offset-1.col-md-2
    %a{href: edit_address_checkout_path(@order), class: 'step'} Address
  %h3.col-md-2
    .step{class: 'current'} Shipment
  %h3.col-md-2
    .step Payment
  %h3.col-md-2
    .step Confirm
  %h3.col-md-2
    .step Complete
  .row.col-md-12
    = form_for @order, url: {controller: :checkouts, action: :update}  do |order|
      - @available_shipments.each do |shipment|
        .field.form-group
          =order.radio_button 'shipment_id', shipment.id, checked: (@order.shipment_id == shipment.id)
          =label "shipment_id_#{shipment.id}", "#{shipment.name} +$#{shipment.cost}"
      =order.hidden_field :step, value: @current_step
      .actions
        = order.submit 'Save and Continue', class: ['btn', 'btn-default']
